@import '../../assets/scss/variable.scss';

.alert-scam {
  background-color: $bgColor2;
  border-radius: 16px;
  border: 1px solid #ffffff1a;
  margin-top: 138px;
  &__header {
    padding: 16px;
    border-bottom: 1px solid #ffffff1a;
    text-align: center;
  }
  &__desc {
    color: $subTextColor;
    margin-top: 8px;
  }
  .scammer__list {
    padding: 50px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    .scammer__item {
      background-color: $bgColor3;
      border-radius: 16px;
      padding: 16px;
      display: flex;
      align-items: center;
      gap: 8px;
      user-select: none;
      cursor: pointer;
      position: relative;
      isolation: isolate;
      overflow: hidden;
      &:hover::before {
        left: auto;
        right: 0;
        width: 100%;
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: auto;
        top: 0;
        height: 100%;
        width: 0;
        background-color: #fff;
        opacity: 0.1;
        z-index: -1;
        transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      .scammer__info {
        .scammer__name {
          font-weight: 600;
        }
        .scammer__date {
          color: $subTextColor;
        }
      }
    }
  }
}
